<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>
        #wrap {
            width: 80%;
            margin: auto;
            border: 1px solid;   
            border-radius: 10px;    
            background-color: rgb(194, 239, 250); 
            margin-bottom: 200px;
        }
        #wrap .img-preview {width:150px;height:150px;}
        #wrap .img-input {width:calc(90% - 160px);}
        #wrap .img-input input {vertical-align: 100px;}
        #wrap h2 {text-align: center;}
        #wrap form {width: 80%; margin: auto;}
        #wrap form div {            
            margin-bottom: 1rem;
        }
        #wrap form div input {width: 100%;height: 2rem;}
        #wrap form .birth{margin-bottom: 3rem;}
        #wrap form .birth select {
            width: 32%;
            height: 2rem;
        }
        #wrap form button {
            margin: 0 1rem;
            width: 30%;
            height: 60px;
            font-size: 1rem;
            border: 1px solid rgb(181, 240, 255);
            border-radius: 30px;
            font-weight: bolder ;
            background-color: rgb(255, 255, 252);
        }
        #wrap form button:hover{
            background-color: rgb(36, 0, 168);
            color: white;
        }
        #wrap form .buttonDiv {
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
</head>

<body>
    <%- include("./top.ejs"); %>
    <div id="wrap">
        <h2>회원가입하기</h2>
        <form action="/account/signup" method="post">            
            <div>
                <input type="text" name="id" placeholder="아이디" id="id" onkeyup="checkId(event)" required/><br />
                <div id="checkResult" style="margin-top: 5px;"></div>
                <p style="color: red;"><%= msg %></p>
            </div>            
            <div><input type="text" name="name" placeholder="이름" required/></div>
            <div><input type="password" name="password" placeholder="비밀번호" required/></div>            
            <div><input type="email" name="email" placeholder="이메일@example" required/></div>
            <div><input type="text" name="contact" placeholder="연락처"  required/></div>
            <div class="birth">
                <div>
                    <span style="font-weight: bold;">생년월일</span>
                </div>
                <select name="year">
                    <option value="">년</option>
                    <% for(let i=2022; i>=1950; i--) {%>
                        <option value="<%=i%>"> <%=i%></option>
                    <%}%>
                </select>
                <select name="month">
                    <option value="">월</option>
                    <% for(let i=1; i<=12; i++) {%>
                        <option value="<%=i%>"> <%=i%>월</option>
                    <%}%>
                </select>
                <select name="day">
                    <option value="">일</option>
                    <% for(let i=1; i<=31; i++) {%>
                        <option value="<%=i%>"> <%=i%>일</option>
                    <%}%>
                </select>                
            </div>
            <div class="buttonDiv">
                <button type="submit">회원가입</button>            
                <button type="button" onclick="location.href='/account/signin';">로그인하기</button>            
            </div>
        </form>        
    </div>
    <%- include("./footer.ejs"); %>    

    <script>
        async function checkId(evt) {
            let value = evt.target.value;            
            let response = await fetch(`/api/idcheck?id=${value}`,{method:"get"})
            let result = await response.json();
            console.log(result.success);
            if(result.success) {
                document.querySelector("#checkResult").innerHTML = `<p style='color:blue'>사용하실수 있는 아이디입니다.</p>`;
                // document.querySelector("#checkResult").style.display = "none";
            } else {
                document.querySelector("#checkResult").innerHTML = "<p style='color:red'>이미 존재하는 아이디입니다.</p>";
                // document.querySelector("#checkResult").style.display = "block";
            }   
        }        
        
    </script>
</body>

</html>